.info-alert{
    width: 60%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 50%;
    margin-bottom: 0.5rem;
}
@media (max-width: 968px){
    .form-input{
        width: 100%;
    }
}